.row-stat {
  display: flex;
  justify-content: space-around;
}
.stats-footer {
  display: flex;
  padding: 20px;
  border-top: 1px solid #dedede;
}
.card-info-body {
  padding: 90px 50px 0 50px;
}
.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.stat-box svg {
  margin-bottom: 5px;
}
.label-stat-box {
  font-size: 16px;
  color: #4d4f5c;
  opacity: 50%;
}
#user-name {
  color: #4d4f5c;
}
#user-login-name {
  color: #43425d;
  opacity: 50%;
}
.stat-item-name {
  color: #43425d;
  font-size: 20px;
}
.stat-item-nb {
  color: #4d4f5c;
  opacity: 50%;
}
.section-header {
  color: #4d4f5c;
}
